
body {
	margin: 0; 
	padding: 0;
	font-family: 'Arial', serif;
}
uhd{
	float: right;
	width: 15%;
	height: auto;

}
img{
	float: left;
	width: 15%;
	height: auto;
}

.nav {
	background-color: #0000b3;
	color: #ffffff;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
}

.nav> li{
	display: inline-block;
	font-size:2vw;
	padding-right: 50px; 	
}

.nav> li > a{
	text-decoration: none;
	color: #ffffff;
}

.nav > li > a:hover {
	color: #c1c1c1;
}

h1 {
	text-align: center; 
	font-family: Times New Roman, Times, serif;
	font-size:5vw; 
}

h2 {
	font-family: Times New Roman, Times, serif;
	font-size:3vw;
 }

p1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:2vw;
}	
p2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:1vw;
}



