
body {
	margin: 0; 
	padding: 0;
	font-family: 'Arial', serif;
}

/*UHD image will resize with screen, Need to fix position*/
uhd{
	float: right;
	top:0;
	left: 0;
	padding:0;
	float: right;
	width: 10%;
	height: auto;

}

/*CLCC image, top left corner*/
img{
	padding: 0;
	float: left;
	width: 15%;
	height: auto;
}

/*Navigation bar, color=blue, font-color=white, center text 
	in center by heigth*/
.nav {
	background-color: #0000b3;
	color: #ffffff;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
}

/*Navigation list inline, adjustable size font*/
.nav> li{
	display: inline-block;
	font-size:2vw;
	padding-right: 50px; 	
}

/*Navigation list: font changes to grey when cursor hovers 
	over selection*/
.nav > li > a:hover {
	color: #c1c1c1;
}

.oval{
  text-align:center;
  font-size:3vw;
  height: 10vw;
  width: 20vw;
  background-color: #E11F1F;
  border-radius: 50%;
  line-height:3vw;
  color:white;
  margin:20px auto;
  padding: 1vw 1vw 1vw  1vw;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
}

.rectangle {
  text-align:center;
  font-size:3vw;
  color:white;
  border-radius: 40px 40px 40px 40px;
  background-color: #0000b3;
  height: 20vw;
  width: 40vw;
  position:relative;
  left:50%;
  margin-left: -20vw;

}

/* Optional Headings*/
h1 {
	text-align: center; 
	font-family: Times New Roman, Times, serif;
	font-size:5vw; 
}

h2 {
	font-family: Times New Roman, Times, serif;
	font-size:3vw;
 }

/* Optional Paragraph settings*/
p1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:2vw;
}	
p2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size:1vw;
}



